<h1> Edit form</h1>

<form method="post" action="/transactions/<%=@transaction.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type='text' id='currency' name='currency' value="<%= @transaction.currency %>"><br>
    <input type='text' id='price' name="price" value="<%= @transaction.price %>"><br>
    <textarea type='text' id='comments' name="comments"><%= @transaction.comments %></textarea><br>
    <input type="submit" value="submit">
</form>