<h1>New Transaction</h1><br><br>

<form action='/transactions' method="post">
    <lablel for="currency">Currency to buy:</label><br>
    <input type='text' id='currency' name='currency' value='BTC'><br><br>
    <lablel for="price">Price (in $):</label><br>
    <input type='text' id='price' name='price'><br><br>
    <lablel for="comments">Comments for the transaction:</label><br>
    <input type='text' id='comments' name='comments'><br><br>
    <input type='submit' value='Buy'>
</form>


