<h2 class="container-fluid text-center">Add New Workout</h2>

<form method="POST" action="/workouts">

  <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name"><br>

  <label for="duration">Duration:</label>
    <input type="text" id="duration" name="duration" placeholder="Duration"><br>

  <label for="difficulty">Difficulty:</label>
    1<input type="radio" name="difficulty" value="1" checked>
    2<input type="radio" name="difficulty" value="2">
    3<input type="radio" name="difficulty" value="3">
    4<input type="radio" name="difficulty" value="4">
    5<input type="radio" name="difficulty" value="5"><br>

  <label for="body_focus">Body Focus:</label>
    <select name="body_focus">
      <option value="Upper">Upper</option>
      <option value="Core">Core</option>
      <option value="Lower">Lower</option>
      <option value="Total">Total</option>
    </select><br>

  <label for="training_type">Training Type:</label>
    <select name="training_type">
      <option value="HIIT">HIIT</option>
      <option value="Strength Training">Strength Training</option>
      <option value="Pilates">Pilates</option>
      <option value="Cardio">Cardio</option>
      <option value="Yoga">Yoga</option>
      <option value="Low Impact">Low Impact</option>
      <option value="Kickboxing">Kickboxing</option>
    </select><br>

  <label for="equipment_needed">Equipment Needed</label>
    Yes<input type="radio" name="equipment_needed" value="Yes" checked>
    No<input type="radio" name="equipment_needed" value="No"><br>

  <label for="website">Website:</label>
    <input type="text" id="website" name="website" placeholder="Website"><br><br>

  <label for="notes">Add Workout Notes:</label><br>
  <textarea id="notes" name="notes" rows="5" cols="40"> </textarea> <br>

  <input type="submit" value="Add Workout">

</form>
