<h2>Add New Workout</h2>

<form method="POST" action="/workouts">

  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name">

  <label for="duration">Duration</label>
  <input type="text" name="duration" placeholder="Duration">

  <label for="difficulty">Difficulty</label>
  <input type="text" name="difficulty" placeholder="Difficulty">

  <label for="body_focus">Body Focus</label>
  <input type="text" name="body_focus" placeholder="Body Focus">

  <label for="training_type">Training Type</label>
  <input type="text" name="training_type" placeholder="Training Type">

  <label for="equipment_needed">Equipment Needed</label>
  <input type="text" name="equipment_needed" placeholder="Equipment Needed">

  <label for="notes">Notes</label>
  <input type="text" name="notes" placeholder="Notes">

  <label for="notes">Website</label>
  <input type="text" name="website" placeholder="Website">

  <input type="submit" placeholder="Add Workouts!">

  <input type="submit" value="Create">

</form>
