<<<<<<< HEAD
<h2>Add New Workout</h2>

<form method="POST" action="/workouts">

  <label for="duration">Duration</label>
  <input type="text" name="duration" placeholder="Duration">

  <label for="difficulty">Difficulty</label>
  <input type="text" name="difficulty" placeholder="Difficulty">

  <label for="body_focus">Body Focus</label>
  <input type="text" name="body_focus" placeholder="Body Focus">

  <label for="training_type">Training Type</label>
  <input type="text" name="training_type" placeholder="Training Type">

  <label for="equipment_needed">Equipment Needed</label>
  <input type="text" name="equipment_needed" placeholder="Equipment Needed">

  <label for="notes">Notes</label>
  <input type="text" name="notes" placeholder="Notes">

  <label for="notes">Website</label>
  <input type="text" name="website" placeholder="Website">

  <input type="submit" placeholder="Add Workouts!">
=======
<h1>Add a New Golf Club</h1>

<form action="/clubs" method="POST">
  <label> Club Name </label>
  <input type="text" name="name"> </br>

  <label> Club Manufacturer </label>
  <input type="text" name="manufacturer"> </br>

  <label> Which Golf Bag does this belong in? </label>
  <select name="golf_bag_id">
    <% current_user.golf_bags.each do |bag| %>
      <option value=<%=bag.id %>><%= bag.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
>>>>>>> 3fa39cf7bcb96c9b5487dd8830c5f6ecae00750c
</form>
