
<h2>All Workouts!</h2>

<div class="container">
  <div class="row">

  <% @workouts.each do |workout| %>
  <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading"><a href="/workouts/<%=workout.id%>"> <%=workout.name%> </a></div>
        <div class="panel-body"><img src="#{}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <% end %>



        </div>
      </div>
