<% if flash.now.include?(:notice) %>
  <%= flash.now[:notice] %>
  <br></br>
<% end %>

<form method="POST" action="/login">
Username:&nbsp;&nbsp;<input type="text" name="username">
<br></br>
Password:&nbsp;&nbsp;&nbsp;<input type="text" name="password">
<br></br>
<input type="submit">
</form>
