<h2><%= @musician.username %></h2>

<% if !@musician.reviews.empty? %>
  <% @musician.reviews.each do |review| %>
    <ul>
    <li>Venue: <%= review.venue.name %></li>
    <li>Review: <%= review.content %></li>
    </ul>
  <% end %>
<% end %>
