<h1>Add New Organization</h1>

<form action="/orgs/new" method="POST">
  <strong>Organization Name:</strong>
  <input type="text" name="name" placeholder="Enter Name">
  <br /><br />
  <strong>Address:</strong>
  <input type="text" name="address" placeholder="Enter Address">
  <br /><br />
  <strong>City:</strong>
  <input type="text" name="city" placeholder="Enter City">
  <br /><br />
  <strong>State:</strong>
  <input type="text" name="state" placeholder="Enter State">
  <br /><br />
  <strong>Zip:</strong>
  <input type="text" name="zip" placeholder="Enter Zip">
  <br /><br />
  <strong>Phone:</strong>
  <input type="text" name="phone" placeholder="Enter Phone">
  <br /><br />
  <strong>Email:</strong>
  <input type="text" name="email" placeholder="Enter Email">
  <br /><br />
  <strong>Website:</strong>
  <input type="text" name="website" placeholder="Enter Website">
  <br /><br />
  <strong>Description:</strong>
  <input type="text" name="description" placeholder="Enter Description">

  <br /><br /><hr />

  <h2>Create New Category:</h2>
  <input id="new_category" type="text" name="category[name]">
  <h3>Or, select one of the following:</h3>
  <% Category.all.each do |c| %>
    <input id="<%= c.name %>" type="radio" name="category_id" value="<%= c.id %>"><label><%= c.name %></label>
  <% end %>

  <br /><br /><hr />

  <h2>Account Type:</h2>
  <input type="radio" name="account" value="General"><label>General</label>
  <input type="radio" name="account" value="Colonel"><label>Colonel</label>
  <input type="radio" name="account" value="Major"><label>Major</label>
  <input type="radio" name="account" value="Captain"><label>Captain</label>
  <input type="radio" name="account" value="Lieutenant"><label>Lieutenant</label>

  <br /><br /><hr />

  <input id="submit" type="submit" value="Create New Organization">
</form>
