<h1>Add New Organization</h1>

<form action="/orgs/new" method="POST">
  <input type="text" name="name" placeholder="Organization Name">
  <input type="text" name="address" placeholder="Organization Address">
  <input type="text" name="phone" placeholder="Organization Phone Number">
  <input type="text" name="email" placeholder="Organization Email">
  <input type="text" name="website" placeholder="Organization Website">
  <input type="text" name="description" placeholder="Organization Description">

  <input id="submit" type="submit" value="Submit">
</form>
