<form action="/recommendation" method="POST">

  <h1></h1><br/>

  <h2>Recommendation Information</h2>

  <br></br>

  <label for="content">Content:</label>
  <input type="text" name="content" id="content"></input>

  <br></br>

  <input type="submit" value="Submit"></input>

</form>
