<h1> Edit Recommendation </h1>

<form action="/recommendations/<%=@recommendation.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <br></br>

  <h2>Recommendation Information</h2>

  <br></br>

  <label for="content">Content:</label>
  <textarea type="text" name="content" id="content" value="<%=@recommendation.content%>"></textarea>

  <br></br>

  <label for="Edit Recommendation"></label>
  <input type="submit" value="Edit Recommendation" id="submit">

</form>
