<% @tourists.each do |tourist| %>
  <%= tourist.name %><br />
  <%= tourist.nationality %> <br />
  <%= tourist.cruise_ship %>
  <a href="/tourists/<%=tourist.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>