<div class="container" style="text-align:center">
  <h1>Add a New Tourist</h1>

  <form action="/tourists" method="POST">
    <label> Tourist Name </label>
    <input type="text" name="name"> </br>

    <label> Tourist Nationality </label>
    <input type="text" name="nationality"> </br>

    <label> Which Cruise Ship does this belong in? </label>
    <select name="cruise_ship_id">
      <% current_user.cruise_ships.each do |ship| %>
        <option value=<%=ship.id %>><%= ship.name %></option>
      <% end %>
    </select>
<br><br>
    <input style="font-size:1.5em" type="submit" value="Create">
  </form>
</div>