<h1>View Events</h1>
  <p><%= @bgevent.description%></p>
  <form action="/bgevents/<%=@bgevent.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Event">
  </form>

  <form action="/bgevents/<%=@bgevent.id%>/edit">
    <input type="submit" value="Edit Event">
  </form>
