<<<<<<< HEAD
<h2> Log In:</h2>
<form method="POST" action="/login">
  <input type="text" id=":username" name="username" placeholder="Username:">
  <input type="password" id="passwprd" name="password" placeholder="Password:">
=======
<h1>Login to Fwitter!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

>>>>>>> 3fa39cf7bcb96c9b5487dd8830c5f6ecae00750c
  <input type="submit" value="submit">
</form>