  <img src="http://www.jonathanphotos.com/Pictures/Asia%20web/China/Guilin/Li%20River/a-River-a-Bamboo-Boat-and-Mountains-web-1400-n-72.jpg" style="width:120%; margin-top:-181px; margin-left:-50px;height:510px; z-index:10000">
<div class="container"  style="text-align:center; margin-top:-300px">
  <h1>Login to Travel Operator!</h1>
  <br>
  <form method="post" action="/login">
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="password" placeholder="Password:">

    <input type="submit" value="submit">
  </form>
</div>