<div class="container-fluid text-center">
<h3> Log In</h3>

<form method="POST" action="/login">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" placeholder="Username:"><br>

  <label for="password">Password: </label>
  <input type="password" id="password" name="password" placeholder="Password:"><br>

  <input type="submit" value="Log In">
</form>
<br>
</div>
