<h2> Log In:</h2>
<form method="POST" action="/login">
  <input type="text" id=":username" name="username" placeholder="Username:">
  <input type="password" id="passwprd" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>