<h1>Create User</h1>

<form method="post" action="/signup" id="form">
  <label for=:first_name>First Name:</label>
  <input type="text" id=:first_name name="first_name"><br><br>
  <label for=:last_name>Last Name:</label>
  <input type="text" id=:last_name  name="last_name"><br><br>
  <label for=:username>Username:</label>
  <input type="text" id=:username name="username"><br><br>
  <label for=:email>Email:</label>
  <input type="email" id=:email  name="email"><br><br>
  <label for=:password>Password:</label>
  <input type="password" id=:password name="password"><br><br><br>

  <input type="submit" value="Sign Up">
</form><br><br>
<p><a href='/'>Cancel</a></p>
