<h1>Signup Page</h1>

<form action="/signup" method="POST">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="nickname" placeholder="Nickname">
  <input type="text" name="title" placeholder="Position at Company">
  <input type="email" name="email" placeholder="Email Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
