<div class="container-fluid text-center">
  <h3> Create New User</h3>
<form method="POST" action="/signup">
  <label for="name">Username:</label>
  <input type="text" name="username" placeholder="Username:"> <br>

  <label for="name">Email:</label>
  <input type="email" name="email" placeholder="Email:"> <br>

  <label for="name">Password:</label>
  <input type="password" name="password" placeholder="Password:"> <br>
  <input type="submit" value="Sign Up">
</form>
<br>
</div>
