<h1>Oops, theres an error!</h1>
<p>Your name might be typed in wrong, words are case sensitive.
Your password may be wrong, be sure to double check!</p>
<a href="/login">Click me to go back to the log in!</a>
