
<form class="" action="/hello" method="post">
  <p>This is your new sneaker app!</p>
</form>

<form class="" action="/logout" method="post">
  <p><a href="/logout">Click me</a> to logout and you'll be
  sent to the main login once again! Thank you for visiting!</p>
</form>
