<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to your new sneaker portfolio!</h2>

    <div class="content">
      <p>Thank you for visiting! click <a href="/login">login</a> to log in! Or click
      <a href="/users/new">Sign up</a> to be apart of the community!</p>
    </div>

  </div>
</div>
