<h1>Add a Cruise Ship</h1>

<form action="/ships" method="POST">
  <label> Ship Name </label>
  <input type="text" name="name"> </br>

  <label> Ship Capacity </label>
  <input type="number" name="capacity"> </br>

  <input type="submit" value="Create">
</form>