<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Black Girl Magic</title>
  </head>
  <body>
    <h1>Welcome to Black Girl Magic!!</h1>

    <h2>Black Girl Magic Events</h2>

    <img src="https://ih0.redbubble.net/image.189678229.6639/flat,800x800,070,f.u1.jpg" alt="Black Girl Magic">

      <%if logged_in? %>
        <a href="/bgevents/new">Create an Event</a>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      <% end %>

  </body>
</html>
