<h2>Login</h2>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="submit">
  </form>
