<h1>Sign up for our Sneaker profile!</h1>

<form class="" action="/users" method="post"
  <label for="name">Name:</label>
  <input type="text" name="user[name]" value=""><br/>
  <label for="Password">Password:</label>
  <input type="password" name="user[password]" value=""><br/>
  <input type="submit" value="Sign Up!">
</form>
<br>
<h2> Already have an account? <a href="/">Click me</a></h2>
