<form action="/requests" method="POST">

<h2>Request Information</h2>

<br></br>

<label for="content">Request:</label>
<textarea type="text" name="content" id="content"></textarea>

<br></br>

<input type="submit" value="Submit"></input>

</form>
