<h1>Edit Request</h1>

<form action="/requests/<%=@req.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <br></br>

  <h2>Request Information</h2>

  <br></br>

  <label for="content">Content:</label>
  <textarea type="text" name="content" id="content" value="<%=@req.content%>"></textarea>

  <br></br>

  <label for="Edit Request"></label>
  <input type="submit" value="Edit Request" id="submit">

</form>
