<h1>Edit Request</h1>

<form action="/requests/<%=@request.id%>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <br></br>

  <h2>Recommendation Information</h2>

  <br></br>

  <label for="content">Content:</label>
  <input type="text" name="content" id="content" value="<%=@recommendation.content%>">

  <br></br>

  <label for="Edit Recommendation"></label>
  <input type="submit" value="Edit Recommendation" id="submit">

</form>
