<h1>Welcome to Bon Voyage!</h1>

<br></br>

<p>Bon Voyage is a community for all travelers, beginners and experts alike. We provide users with a platform to share travel recommendations based on their previous travel experiences.</p>

<p>Explore the world!</p>

<br></br>

<a href="/signup">Sign Up</a>

<br></br>

<a href="/login">Log In</a>

<br></br>
