<h1>Profile Information</h1>

<p>Welcome, <%= @user.username %></p>

<p>List of Requests</p>

<ol>
<% @user.requests.each do |request| %>
  <li><a href="/requests/<%=#{@request.id}%>"><br/><%= request.content %></li>
<% end %>
</ol>

</form>
