<h1>Profile Information</h1>


<%= @user.username %>


<ul>
<% @user.tweets.each do |tweet| %>
  <li><%= tweet.content %></li>
<% end %>
</ul>


  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

  <br><br/>

  <label for="password">Password: </label>
  <input type="text" name="password" id="password">

  <br><br/>

  <input type="submit" value="Submit" id="submit">

</form>
