<h1>Login</h1><br><br>

<form action='/login' method='post'>
<label for=username>Username:</label><br>
<input type='text' id='username' name='username' value='Choose you username'><br><br>
<label for=password>Password:</label><br>
<input type='text' id='password' name='password' value='Choose a secure password'><br><br>
<input type='submit' id='submit' name='submit' value='Login'>
</form>