<h1>Signup</h1><br><br>

<form action='/signup' method='post'>
<label for=username>Username:</label><br>
<input type='text' id='username' name='username' value='Choose you username'><br><br>
<label for=email>E-mail:</label><br>
<input type='text' id='email' name='email' value='Enter your email'><br><br>
<label for=password>Password:</label><br>
<input type='text' id='password_digest' name='password_digest' value='Choose a secure password'><br><br>
<input type='submit' value='Create account'>
</form>
