<h1>Add Game Title</h1>

<form action="/games" method="post">

  <p>
    <label for="title">Game Title:</label>
    <input type="text" name="title" id="title">
  </p>

  <input type="submit" id="submit"  value="submit">

</form>
