<%= @game.title %>
<br><br>
<form action="/games/<%= @game.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit"  value="Delete Game">
</form>
<br>
<a href="/games/<%= @game.id %>/edit"> Edit Game</a>
