<div id="one">
  <form method="post" action="/login">
    <input type="text" name="username" value="username"><br></br>
    <input type="text" name="password" value="password"><br></br>
    <input type="submit" value="log in">
  </form><br></br>
</div> <!-- div one -->

<div id="two">
  or<br></br>
</div> <!-- div two -->

<div id="three">
  <form method="post" action="/signup">
    <input type="text" name="email" value="email"><br></br>
    <input type="text" name="username" value="username"><br></br>
    <input type="text" name="password" value="password"><br></br>
    <input type="submit" value="sign up">
  </form>
</div> <!-- div three -->