<<<<<<< HEAD
<h2>Welcome to Workout Organizer! - Workouts made easy! </h2>

<h4> Please <a href="/signup"> sign up </a> or <a href="/login"> sign in</a> </h4>
=======
<h2>Welcome!</h2>
>>>>>>> 3fa39cf7bcb96c9b5487dd8830c5f6ecae00750c
