
<div class="container-fluid text-center">
<h1>Workout Organizer</h1>
<h2>Workouts made easy! </h2>
<img src="/images/Workout.jpg" class="img-responsive" alt="Image"><br>
<p> Please <a href="/signup"> sign up </a> or <a href="/login"> sign in</a> </p>
<br>
</div>
