<p><a href="/login">Login</a> and then <a href="/teams/new">create</a> your own Football Dream Team.
  Add your favorite players, change their details, or delete them and add different players. Remember
  you have 11 players on a team, no more, no less. You can also <a href="/teams/show">see the teams</a> other fans
  have created. Would your team beat theirs?</p>
