<!DOCTYPE html>
<html>
<head>
  <title>soccer star</title>
</head>
<body>
<pre>
             _...---.
        ,:':::::.     `>.
      ,' |:::::;'     |:::.
     /    `'::'       :::::\
    /         _____     `::;\
   :         /:::::\      `  :
   | ,.     /:::::::\        |
   |;:::.   `::::::;'        |
   ::::::     `::;'      ,.  ;
    \:::'              ,::::/
     \                 \:::/
      `.     ,:.        :;'
        `-.::::::..  _.''
           ```----'''
</pre>

<h1>hey there soccer star!</h1>

  <%= yield %>

</body>
</html>