<!doctype html>
<html>
  <head>
    <title>DCBA</title>
  </head>
  <body>
    <a href="/">Home</a>
    <div style="float:right; padding-right:25px;">
      <% if logged_in? %>
        <% if current_user.email == "fkmccallion@hotmail.com" %>
          <a href="/developer">Developer</a>
          <br />
        <% end %>
        <a href="/account">Account</a>
        <br />
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
        <br />
        <a href="/signup">Signup</a>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
