<!doctype html>
<html>
  <head>
    <title>Workout Organizer</title>
  </head>
  <body>
    <header> <h1>Workout Organizer</h1></header>
    <nav>
      <% if logged_in? %>
        <p><a href="/workouts/new"> Add Workout </a></p>
        <p><a href="/logout"> Log Out </a></p>
      <%end %>
    </nav>

      <%= yield %>

    <footer class="footer">
      <p>&copy; 2018 Workout-Organizer </p>
    </footer>

  </body>
</html>
