<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css.css">
  <title>soccer star</title>
</head>
<body>

<br></br>

<div id="ball"></div>
<h1>Soccer Star</h1>

  <%= yield %>

</body>
</html>