<h1>Log In</h1>
<form action="/login" method="POST">
  Username: <input type="text" name="username"></input><br>
  Password: <input type="text" name="password"></input><br>
  <input type="submit" value="Submit">
</form>
