<h1>Sing Up</h1>
<form action="/signup" method="POST">
  Username: <input type="text" name="username"></input><br>
  Password: <input type="text" name="password"></input><br>
  <input type="submit" value="Sign Up">
</form>
