<form action="/shoes" method = "POST">
<h2>Create a new pair of Shoes </h2>
Name:<input type="text" name="name"></input> <br>
Color:<input type="text" name="color"></input> <br>
Brand:<input type="text" name="brand"></input> <br>

<input type="submit" value="Create"><br>
</form>
