<form action="/shoes" method = "POST">

Name:<input type="text" name="name"></input> <br>
Color:<input type="text" name="color"></input> <br>
Brand:<input type="text" name="brand"></input> <br>

<input type="submit" value="Create"><br>
</form>
